.heading 
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5 5 5 black;
}

.note
{
    font-size: 15px;
    color: black;
}

body 
{
    background: cover;
}

.play_button
{
    width: 140px;
    font-size: 25px;
    box-shadow: 5 5 5 black;
    
}

canvas {
    border: 5px solid white;
    border-radius: 20px;
}